<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <catalog_filters>
                <min_options_qty>0</min_options_qty>
            </catalog_filters>
        </catalog>
        <smile_elasticsuite_catalogsearch_settings>
            <catalogsearch>
                <inject_suggested_phrases_when_no_results_are_found>1</inject_suggested_phrases_when_no_results_are_found>
                <always_inject_suggested_phrases>0</always_inject_suggested_phrases>
                <maximum_amount_of_products_that_trigger_phrase_injection>10</maximum_amount_of_products_that_trigger_phrase_injection>
            </catalogsearch>
        </smile_elasticsuite_catalogsearch_settings>
        <smile_elasticsuite_misc_settings>
            <routing_settings>
                <enable_virtual_category_router>0</enable_virtual_category_router>
            </routing_settings>
        </smile_elasticsuite_misc_settings>
        <smile_elasticsuite_optimization_configuration>
            <general>
                <is_enabled>0</is_enabled>
                <query_words_limit>5</query_words_limit>
                <minimum_should_match>75</minimum_should_match>
                <skip_short_numerical_terms>1</skip_short_numerical_terms>
                <minimum_numerical_terms_lenght>5</minimum_numerical_terms_lenght>
                <tie_breaker>0.1</tie_breaker>
                <cut_off_frequency>0.15</cut_off_frequency>
            </general>
        </smile_elasticsuite_optimization_configuration>
    </default>
</config>
