<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCatalogRule\Model\Rule\Condition\Product\SpecialAttributesProvider">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="is_new" xsi:type="object">MageSuite\ElasticSuiteAddons\Rule\Condition\Product\SpecialAttribute\IsNew</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\ElasticsuiteCatalogOptimizer\Model\ResourceModel\Optimizer\Config\Attributes\Collection">
        <arguments>
            <argument name="availableBackendTypes" xsi:type="array">
                <item name="int" xsi:type="string">int</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Search\SearchEngineInterface">
        <plugin name="add_all_docs_ids_to_cache_tags" type="MageSuite\ElasticSuiteAddons\Plugin\Framework\Search\SearchEngine\AddAllDocIdsToCacheTags"/>
    </type>

    <type name="Smile\ElasticsuiteCore\Search\Request\Builder">
        <plugin
            name="inject_suggested_terms_as_search_phrase"
            type="MageSuite\ElasticSuiteAddons\Plugin\Smile\ElasticsuiteCore\Search\Request\Builder\InjectSuggestedTermsAsSearchPhrase"
        />
    </type>

    <type name="Smile\ElasticsuiteVirtualCategory\Controller\Router">
        <plugin name="disable_virtual_category_router" type="MageSuite\ElasticSuiteAddons\Plugin\Smile\ElasticsuiteVirtualCategory\Controller\Router\DisableElasticSearchVirtualCategoryRouter"/>
    </type>

    <type name="Smile\ElasticsuiteCore\Search\Request\Query\Fulltext\QueryBuilder">
        <plugin name="queryRewriteSynonyms" sortOrder="10" />
        <plugin name="rewrite_query_if_search_query_text_is_too_long"
                type="MageSuite\ElasticSuiteAddons\Plugin\ElasticsuiteThesaurus\RewriteQueryIfSearchQueryTextIsTooLong"
                sortOrder="10" />
    </type>

    <type name="Smile\ElasticsuiteThesaurus\Config\ThesaurusConfig">
        <plugin name="disable_synonym_search_for_long_query"
                type="MageSuite\ElasticSuiteAddons\Plugin\ElasticsuiteThesaurus\Config\DisableSynonymSearchForLongQueryText" sortOrder="10" />
        <plugin name="disable_expansion_search_for_long_query"
                type="MageSuite\ElasticSuiteAddons\Plugin\ElasticsuiteThesaurus\Config\DisableExpansionSearchForLongQueryText" sortOrder="20" />
    </type>
    <type name="MageSuite\Autocomplete\Helper\Configuration">
        <plugin name="disable_expansion_search_for_long_query"
                type="MageSuite\ElasticSuiteAddons\Plugin\Autocomplete\Helper\Configuration\DisableGenerationOfTermsForLongQueryText" sortOrder="20" />
    </type>

</config>
