<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="catalog_filters" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Filters</label>
                <field id="min_options_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum filter options qty to show filter</label>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <comment>Hide filters if filter options qty less then X</comment>
                </field>
            </group>
        </section>
        <include path="MageSuite_ElasticSuiteAddons::system/catalog_search_configuration.xml"/>
        <include path="MageSuite_ElasticSuiteAddons::system/routing_settings.xml"/>
        <include path="MageSuite_ElasticSuiteAddons::system/search_optimization_configuration.xml"/>


    </system>
</config>
