<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog</label>
            <tab>catalog</tab>
            <resource>MageSuite_ElasticSuiteAddons::config_catalog_filters</resource>
            <group id="catalog_filters" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Filters</label>
                <field id="min_options_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum filter options qty to show filter</label>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <comment>Hide filters if filter options qty less then X</comment>
                </field>
            </group>
        </section>
        <section id="smile_elasticsuite_catalogsearch_settings" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog Search</label>
            <tab>smile_elasticsuite</tab>
            <resource>Magento_Backend::smile_elasticsuite_catalogsearch</resource>
            <group id="catalogsearch" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Search Configuration</label>
                <field id="always_inject_suggested_phrases" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Always inject autocomplete phrases into search query</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Autocomplete phrases will be always generated and added to search query typed into search field. For example when searching for "polo" autocomplete phrases like "polo shirt" will also be added to search query.]]></comment>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                </field>
                <field id="inject_suggested_phrases_when_no_results_are_found" translate="label comment" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Inject autocomplete phrases into search query when original search returned no results</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If specific search finds no results, Magento will try to generate autocomplete phrases and use them as query. That way some relevant results might get returned.]]></comment>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <depends>
                        <field id="smile_elasticsuite_catalogsearch_settings/catalogsearch/always_inject_suggested_phrases">0</field>
                    </depends>
                </field>
                <field id="maximum_amount_of_products_that_trigger_phrase_injection" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Inject autocomplete phrases into search query when original search returned less than X results</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Autocomplete phrases will be generated and added into search query typed into search field only if less than defined in above field amount of products was returned for original search query.]]></comment>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <depends>
                        <field id="smile_elasticsuite_catalogsearch_settings/catalogsearch/always_inject_suggested_phrases">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
